.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
    padding: 0 10px;
}

.title {
    font-size: 85px;
    color: #FFF;
    animation: flipTitle 0.5s;
    text-align: center;
}

.input {
    outline: none;
}

@keyframes flipTitle {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

.containerInput {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #FFF;
    outline: none;
    margin-right: 8px;
    width: 100%;
}

.containerInput input::placeholder {
    color: #F1F1F1;
}

.buttonSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover {
    transform: scale(1.2);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    width: 500px;
    border-radius: 8px;
    padding: 20px;
}

.main h2 {
    margin: 16px 0;
    font-size: 39px;
}

.main span {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

@media (max-width: 620px) {
    .title {
        font-size: 60px;
    }

    .main h2 {
        font-size: 28px;
    }

    .main {
        width: 100%;
        min-height: 250px;
        padding: 10px;
    }

    .containerInput input {
        font-size: 18px;
    }

    .buttonSearch {
        padding: 10px;
    }

    .main span {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 45px;
    }

    .main {
        width: 100%;
    }

    .main h2 {
        font-size: 24px;
    }

    .containerInput input {
        font-size: 16px;
    }

    .main span {
        font-size: 14px;
    }
}
